<header class="site-header">




<div class="main-header">
  <div id="cobrand-bar"></div>
  <div class="profile-bar">
    <div class="menu row wrapper">
      <ul class="wrapper">
        <li data-js="subnav" call="favorites">
	  <span>
		    <a href="{{ site.baseurl }}/">{{ site.title }}</a>
	  </span>
	</li>
      </ul>
    </div>
  </div>
  <div data-id="primary-navbar" class="primary-navbar-has-submenu">
    <div class="wrapper">
	    <a class="logo" href="/" name="&lid=header-home"><img class="cars-logo-img" src="{{site.baseurl}}/images/logo.png" alt="Cars.com"></a>
    </div>
</div>

  </div>

</header>
